*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#app {
	width: 100%;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	padding: 0.75rem 1.5rem;
	background: #f1f5f9;
	outline: none;
	border: 2px solid #e2e8f0;
	border-radius: 0.5rem;
	font-family: sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #1d293d;
	cursor: pointer;

	&:hover {
		background: #f8fafc;
	}

	&:active {
		transform: scale(0.9);
	}
}
